*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 1146px;
    margin: 0 auto;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 28px;
}
.header__logolink{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: black;
}
.logo__box{
    margin-right: 6px;
}
.logo__text{
    font-family: RobotoBold;
    font-size: 24px;
}
.menu__menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: RobotoRegular;
    font-size: 14px;
}
.menu__item__odd{
    color: #256EEB;
}
.menu__item:hover{
    text-decoration: underline;
}
.menu{
    width: 267px;
}
.container{
    display: flex;
    align-items: center;
}
.header{
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    display: flex;
    align-items: center;
    font-family: RobotoRegular;
    font-style: thin;
    width: 316px;
    height: 36px;
    font-size: 14px;
    justify-content: space-between;
}
.button__login{
    padding: 0px;
    border: 0px;
    background-color: white;
    width: 130px;
}
.button__application{
    width: 161px;
    border: 0px;
    background-color: #256EEB;
    border-radius: 5px;
    color: white;
    height: 36px;
}
.search{
    margin-top: 18px;
}
.search__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 3px;
    padding-bottom: 1px;
    padding-top: 1px;
    background-color: #256EEB;
    border-radius: 5px;
}
.search__container input{
    width: 100%;
    border-radius: 5px;
    border: 0px;
    font-family: RobotoRegular;
    font-size: 14px;
    height: 44px;
    padding-left: 21.45px;
}
.search__loupe{
    margin-left: 20px;
}
.search__find{
    color: white;
    font-size: 16px;
    font-family: RobotoRegular;
    margin-right: 20px;
    margin-left: 6px;
}
.head{
    font-family: RobotoBold;
    font-size: 24px;
    margin-top: 42px;
    margin-bottom: 25px;
}
.firstcard__name{
    font-family: RobotoBold;
    font-size: 16px;
    color: #256EEB;
    margin: 0px;
}
.firstcard__desc{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.firstcard{
    max-width: 264px;
    margin-right: 30px;
}
.cardsrow{
    display: flex;
    margin-bottom: 20px;
}
.firstcard__price{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: RobotoBold;
    font-size: 16px;
    color: black;
}
.firstcard__price:hover{
    color: #256EEB;
}
.firstcard__info{
    margin-top: 0px;
    font-family: RobotoRegular;
    font-size: 14px;
    color: #C4C4C4;
    margin-bottom: 4px;
}
.recommendations{
    display: flex;
    flex-direction: column;
}
.mainwrapper{
    display: flex;
}
.services{
    margin-top: 51px;
}
.name{
    margin-bottom: 23px;
    font-family: RobotoBold;
    font-size: 18px;
}
.s-list__itemname{
    font-family: RobotoBold;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.s-list__itemdesc{
    font-family: RobotoRegular;
    font-size: 14px;
}
.s-list__item{
    margin-bottom: 25px;
    max-width: 217px;
}
.s-list__item__odd{
    max-width: 231px;
}
.footer__name{
    font-family: RobotoRegular;
    font-size: 14px;
    color: #C4C4C4;
    margin-bottom: 5px
}
.footer__link{
    list-style: none;
    text-decoration: none;
}
.footer__agreement{
    font-family: RobotoRegular;
    font-size: 14px;
    color: #C4C4C4;
    text-decoration: underline;
    margin-bottom: 5px;
}
.footer__listitem{
    font-family: RobotoRegular;
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
}
.footer__listitem:hover{
    color: #256EEB;
}
.line{
    height: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 37px;
    margin-bottom: 18px;
}
.footer__listcontainer{
    margin-top: 16px;
}