*{
    margin: 0px;
    padding: 0px;
}
.header{
    position: sticky;
    background-color: white;
}
.wrapper{
    width: 1146px;
    margin: 0 auto;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 28px;
}
.header__logolink{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: black;
}
.logo__box{
    margin-right: 6px;
}
.logo__text{
    font-family: RobotoBold;
    font-size: 24px;
}
.menu__menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: RobotoRegular;
    font-size: 14px;
}
.menu__item:hover{
    text-decoration: underline;
}
.menu__item__odd{
    text-decoration: underline;
    color: #256EEB;
}
.menu{
    width: 267px;
}
.container{
    display: flex;
    align-items: center;
}
.header{
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    display: flex;
    align-items: center;
    font-family: RobotoRegular;
    font-style: thin;
    width: 316px;
    height: 36px;
    font-size: 14px;
    justify-content: space-between;
}
.button__login{
    padding: 0px;
    border: 0px;
    background-color: white;
    width: 130px;
}
.button__application{
    width: 161px;
    border: 0px;
    background-color: #256EEB;
    border-radius: 5px;
    color: white;
    height: 36px;
}
.search{
    margin-top: 18px;
}
.search__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 3px;
    padding-bottom: 1px;
    padding-top: 1px;
    background-color: #256EEB;
    border-radius: 5px;
}
.search__container input{
    width: 100%;
    border-radius: 5px;
    border: 0px;
    font-family: RobotoRegular;
    font-size: 14px;
    height: 44px;
    padding-left: 21.45px;
}
.search__loupe{
    margin-left: 20px;
}
.search__find{
    color: white;
    font-size: 16px;
    font-family: RobotoRegular;
    margin-right: 20px;
    margin-left: 6px;
}
.head{
    font-family: RobotoBold;
    font-size: 24px;
    margin-top: 42px;
    margin-bottom: 25px;
}
.goods{
    display: flex;
    flex-direction: column;
}
.imgcontainer{
    display: flex;
    max-width: 360px;
    justify-content: space-between;
    margin-top: 16px;
}
.imagewrapper{
    margin: 0px;
}
.goods__desc{
    font-family: RobotoRegular;
    font-size: 12px;
    color: black;
    max-width: 460px;
    margin-top: 30px;
    line-height: 140%;
}
.mainwrapper{
    display: flex;
}
.goods{
    margin-right: 30px;
}
.author{
    margin-right: 128px;
}
.author__name{
    font-family: RobotoBold;
    font-size: 14px;
    color: black;
}
.author__review{
    font-family: RobotoRegular;
    font-size: 14px;
    color: #0A143A;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 8px;
}
.author__info{
    font-family: RobotoRegular;
    font-size: 12px;
    color: black;
}
.author__rating{
    display: flex;
}
.author__profile{
    width: 264px;
    display: flex;
    justify-content: space-between;
}
.author__buttons{
    display: flex;
    flex-direction: column;
    font-family: RobotoRegular;
    font-size: 14px;
    margin-top: 30px;
}
.author__button1{
    padding: 0px;
    border: 0px;
    background-color: #256EEB;
    width: 264px;
    height: 54px;
    border-radius: 5px;
    font-family: RobotoRegular;
    color: white;
    margin-bottom: 14px;
}
.author__button2{
    padding: 0px;
    border: 0px;
    background-color: #14B4BE;
    width: 264px;
    height: 54px;
    border-radius: 5px;
    font-family: RobotoRegular;
    color: white;
}
.banner{
    margin-top: 42px;
}
.banner_wrapper1{
    margin-bottom: 7px;
}
.footer__name{
    font-family: RobotoRegular;
    font-size: 14px;
    color: #C4C4C4;
    margin-bottom: 5px
}
.footer__link{
    list-style: none;
    text-decoration: none;
}
.footer__agreement{
    font-family: RobotoRegular;
    font-size: 14px;
    color: #C4C4C4;
    text-decoration: underline;
    margin-bottom: 5px;
}
.footer__listitem{
    font-family: RobotoRegular;
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
}
.footer__listitem:hover{
    color: #256EEB;
}
.line{
    height: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 26px;
    margin-bottom: 18px;
}
.footer__listcontainer{
    margin-top: 16px;
}